 <div class="container">
    <div class="row mt-3" >
        <div class="col-6 m-auto bg-light" >
            <h2 class="pt-3">Edit Pub</h2>
            <%= render 'form' %>
        </div>
    </div>
    <div class="row mt-3">
        <%= link_to "Back to Pub List", pubs_path, class: "text-primary my-3 col-6 m-auto" %>
     </div>
</div>